.donut_graph {
    font-family: 'robotolight',arial, sans-serif;
}

.donut_graph .circle{
    fill: #dfdfdf;
}

.email1 .donut_graph .arc{
    fill: #e421f9;
}

.email2 .donut_graph .arc{
    fill: #23b0f7;
}